{% extends 'base.html' %}

{% block content %}
<main>
    <h2>REVIEWS</h2>
    {% for item in reviews %}
        <h2>{{item.restaurant}}</h2>
        <a href="{{ url_for ('update_review', task_id=item._id) }}"><small><i>make changes - {{item._id}}</i></small> </a>
        <a href="{{ url_for ('delete_review', task_id=item._id) }}"><small class="text-danger"><i>delete - {{item._id}}</i></small> </a>
    {% endfor %}

    <h2>RESTAURANTS</h2>
    {% for item in restaurants %}
        <h2>{{item.name}}</h2>
    {% endfor %}

</main>
{% endblock %}


  