@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;600&display=swap');

body {
    background-color: black;
    color : white;
}
.navbar-brand {
    font-family: 'Roboto Slab', serif;
}
.brand {
    font-size: 3rem;
}

/* main styling */
main>div>div {
    height: 300px;
}
.bg-main-01 {
    background: url('../images/sashimi-dish-400.png') ;
    background-size: cover;
    background-position: center;
}
.bg-main-02 {
    background: url('../images/donut-sprinkle-400.png') ;
    background-size: cover;
    background-position: center;
}
.bg-main-03 {
    background: url('../images/prawn-dish-400.png');
    background-size: cover;
    background-position: center;
}
.bg-main-04 {
    background: url('../images/mocktail-drinks-400.png') ;
    background-size: cover;
    background-position: center;
}

/* show_review.html and show_restaurant.html*/
.review-box {
    width : 350px;
    height: 550px;
    background-color: sandybrown;
    margin : 15px auto;
    position: relative;
}
.img-box {
    height: 200px;
    width: auto;
    overflow: hidden;
    margin-bottom: 10px;
}
.btn-view {
    background-color: rgb(199, 127, 69);
    color: white;
    text-decoration: none;

    border-radius: 12px;
    padding: 5px 10px;
    font-size: small;

    position: absolute;
    bottom: -15px;
    right: 50px;
}
.btn-add {
    background-color: rgb(60, 167, 78);
    color: white;
    text-decoration: none;

    border-radius: 12px;
    padding: 5px 10px;
    font-size: small;

    position: absolute;
    bottom: -15px;
    right: 10px;
}
.btn-delete {
    background-color: rgb(167, 60, 60);
    color: white;
    text-decoration: none;

    border-radius: 50%;
    padding: 5px 9px;
    font-size: small;

    position: absolute;
    top: 10px;
    right: 10px;
}
.btn-edit {
    background-color: rgb(56, 52, 52);
    color: white;
    text-decoration: none;

    border-radius: 50%;
    padding: 5px 8px;
    font-size: small;

    position: absolute;
    top: 10px;
    right: 40px;
}

/* radio button  */

/* common classes */
.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.25);

    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 768px) {
    body {
        /* background-color: blue; */
    }
    main>div>div {
        height: 600px;
    }
}
@media screen and (min-width: 990px) {
    body {
        /* background-color: maroon; */
    }
}
@media screen and (min-width: 1200px) {
    body {
        /* background-color: sandybrown; */
    }
}
